<ion-header translucent="true">
  <ion-toolbar ion-no-border>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Dashboard</ion-title>

  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding" fullscreen="true">

  <ion-grid>
   
   
    <ion-row>
      <ion-col size="10">
        <p class="date">{{todayDate | date:'dd'}}  {{todayDate | date:'LLL'}}</p>
        <h3 class="name"><b>Hi, {{userName | titlecase}}</b></h3>
      </ion-col>

      <ion-col size="2">
        <ion-avatar>
          <img class="avtr" src="../../../assets/img/speakers/lion.jpg">
        </ion-avatar>
      </ion-col>

    </ion-row>

    <br>
    

    <ion-row class="ion-no-padding">
      <ion-col class="ion-no-padding" size="12">

        <ion-card class="ion-no-padding" (click)="goToPage('student details')">
          <ion-row>
            <ion-col size="8">
              <h4><b>Student Details </b></h4>
              <ion-button >Know More</ion-button>
            </ion-col>
            <ion-col size="4">
              <img src="../../../assets/img/student.png">
            </ion-col>
          </ion-row>
        </ion-card>
        
      </ion-col>
    </ion-row>

    <br>

    <ion-row>
      <ion-col size="6">

        <ion-card class="card-left" (click)="goToPage('class work')"> 
          <img class="icons" src="../../../assets/img/presentation.png">

          <ion-label>
            <h2 style="text-align: center;
            margin-top: 15px;">
            <b>Class Work </b></h2>
          </ion-label>
        </ion-card>

        
      </ion-col>

      <ion-col size="6">

        <ion-card class="card-right" (click)="goToPage('home work')">
          <img class="icons" src="../../../assets/img/working-at-home.png">

          <ion-label>
            <h2 style="text-align: center;
            margin-top: 15px;">
            <b>Home Work </b></h2>
          </ion-label>
        </ion-card>

        
      </ion-col>
    </ion-row>


  </ion-grid>




</ion-content>
