
.date {
  margin-top: 5px;
  color: gray;
}

.avtr{
 margin-top: 5px;
}

.name{
  margin-top: -8px;
}

ion-card{
  border-radius: 14px;
  padding: 20px;
  background-color: white;
  margin-left: -5px;
  margin-right: -5px;
}

ion-content{
  background-color: rgb(65, 64, 64);
}

.icons{
  height: 100px;
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;


}

.card-left{
  margin-right: 5px;
}

.card-right{
  margin-left: 5px;
}