<ion-content>
  <div class="logoArea">

    <div class="login-logo">
      <img style="height: 100px; width: 100px;" src="../../../assets/img/appicon.png" alt="Ionic logo"> 
      <br>
      <br>
       </div>


  </div>

  <div class="loginArea">
    <br>

    <h2 style="margin-left: 45px;">Welcome </h2>

    <div class="formContainer">
      <form #loginForm="ngForm" novalidate>
        <ion-list>
          <ion-item>
            <ion-label position="floating" color="primary">Username</ion-label>
  
            <ion-input [(ngModel)]="login.username" name="username" type="text" #username="ngModel" spellcheck="false"
              autocapitalize="off" required>
            </ion-input>
          </ion-item>
  
          <ion-text style="margin-top: -15px; font-size: 13px;" color="danger">
            <p [hidden]="username.valid || submitted == false" class="ion-padding-start">
              Username is required
            </p>
          </ion-text>
  
          <ion-item>
            <ion-label position="floating" color="primary">Password</ion-label>
  
            <ion-input [(ngModel)]="login.password" name="password" [type]="passwordType" clearOnEdit="false"
              #password="ngModel" required>
            </ion-input>
            <ion-button fill="clear" class="passwordIcon" (click)='hideShowPassword()'>
              <ion-icon slot="icon-only" [name]="passwordIcon"></ion-icon>
            </ion-button>
  
  
          </ion-item>
  
          <ion-text  style="margin-top: -15px; font-size: 13px;" color="danger">
            <p [hidden]="password.valid || submitted == false" class="ion-padding-start">
              Password is required
            </p>
          </ion-text>
  
        </ion-list>


  
        <ion-row style="margin-top: 20px;">
          <ion-col size="12">
            <ion-button class="btn"  (click)="onLoginn(loginForm)" type="submit" expand="block">Login</ion-button>
          </ion-col>
  
        </ion-row>
      </form>

    
  
    </div>

  </div>

  <ion-grid>
    <ion-row>
      <ion-col style="text-align: center;" size="8" offset="2">

        <p> <b>Test Account credentials </b> </p>

        <p>Username     :     <b>soney</b></p>
        <p>Password     :     <b>paramantra</b></p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>