.logoArea{
  background: rgb(241, 241, 241);
  height: 33%;  
}

.login-logo {
  padding: 20px ;
  padding-top: 30%;
  min-height: 200px;
  text-align: center;
}

.login-logo img {
  max-width: 150px;
}

.formContainer{
  margin: 35px;
}

.passwordIcon{
  position: absolute;
  right: 0px;
  // margin-right: 10px;
  margin-top: 20px;
  // padding: 10px;
}


.btn{
  height: 50px;
}

ion-item{
  border: 0.8px solid rgb(241, 241, 241);
  box-shadow: 0px;
  border-radius: 5px;
  // padding:14px;
  font-size:12px;
  // height: 100px;
  margin-bottom: 15px;
  --background :  rgb(241, 241, 241);
}