<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
    </ion-buttons>
    <ion-title>{{detailType | titlecase}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <br>
  <ion-grid *ngIf="detailType == 'student details'"> 
    <ion-row>
      <ion-col size="5" offset="4.5" >
        <img src="../../../assets/img/student.png">
      </ion-col>
    </ion-row>

    <br>
    <br>

    <h3 style="text-align: center;">{{detailType | titlecase}}</h3>
    <p style="text-align: center;">
    The string <b> {{detailType | titlecase}} </b> is passed by previous page and is being showed in the present page 
    </p>
  </ion-grid>

  <br>

  <ion-grid *ngIf="detailType == 'class work'"> 
    <ion-row>
      <ion-col size="5" offset="4.5" >
        <img src="../../../assets/img/presentation.png">
      </ion-col>
    </ion-row>

    <br>
    <br>

    <h3 style="text-align: center;">{{detailType | titlecase}}</h3>
    <p style="text-align: center;">
    The string <b> {{detailType | titlecase}} </b> is passed by previous page and is being showed in the present page 
    </p>
  </ion-grid>

  <br>

  <ion-grid *ngIf="detailType == 'home work'"> 
    <ion-row>
      <ion-col size="5" offset="4.5" >
        <img src="../../../assets/img/working-at-home.png">
      </ion-col>
    </ion-row>

    <br>
    <br>

    <h3 style="text-align: center;">{{detailType | titlecase}}</h3>
    <p style="text-align: center;">
    The string <b> {{detailType | titlecase}} </b> is passed by previous page and is being showed in the present page 
    </p>
  </ion-grid>



</ion-content>
